<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zagadka</title>
</head>
<body>
    <h1>Zgadywanka</h1>
    <h3>Zgaduję:{{guess}}</h3>

    <form method="post">
        <input type="hidden" name="min_number" value="{{ min_number }}">
        <input type="hidden" name="max_number" value="{{ max_number }}">
        <input type="hidden" name="guess" value="{{ guess }}">
        <input name="answer" type="submit" value="To small">
        <input name="answer" type="submit" value="To big">
        <input name="answer" type="submit" value="You win">
    </form>
</body>
</html>